management:
  health:
    redis:
      enabled: false

spring:
  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2s

  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true
        use_sql_comments: true